
/*---Header---*/
.header-contact {
    height: 589px;
    width: 1517px;
    background:  url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/stornowayj2oil/contacts_image-mp8BMaWzWefPzKav.png);
    background-size: 1517px;

}
.header-contact .heading-contact{
    padding-left: 150px;
padding-top: 400px;
color: #ffffff;
font-size: 104px;
font-family: 'Hammersmith One', sans-serif;
font-weight: 400;
}

.contact-form{
    
    margin-left: 500px;
}

.contact-input{
    width: 300px;
    height: 40px;
}

.contact-button{
    color: #fff;
    background-color:  #04AA6D;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

