 /*---Header---*/
 .header-engineer{
    height: 223px;
    width: 1517px;
    background:  url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/stornowayj2oil/careers_image-A1aVe4Kez7SGOD2P.png);
    background-size: 1517px;

}
 
 /* main */

 .container1-engineer{
    height: 1500px;
    display: grid;
    padding-top: 200px;
padding-left: 150px;
}
.h1-engineer{
    font-size: 48px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}
.h2-engineer{
    font-size: 24px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.health1-engineer{
    display: grid;
    margin-top: -450px;
}
.heal1-engineer{
    display: flex;
}
.h3-engineer{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}
.h4-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 700px;
    margin-left: 280px;
}

.heal2-engineer{
    display: flex;
    margin-top: -100px;
}

.h5-engineer{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}
.h6-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 700px;
    margin-left: 130px;
}

.heal3-engineer{
    display: flex;
    margin-top: -100px;
}

.h7-engineer{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

.h8-engineer{
    display: grid;
    margin-left: 270px;
}

.h9-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.h10-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -50px;
}
.h11-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -80px;
}
.h12-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -110px;
}

.heal4-engineer{
    display: flex;
    margin-top: -50px;
}

.h13-engineer{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

.h14-engineer{
    display: grid;
    width: 703px;
    margin-left: 196px;
}

.h15-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.h16-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -40px;
}
.h17-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -40px;
}
.h18-engineer{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -50px;
}

 /* container2 */

 .container2-engineer{
    height: 695px;
}

.centre-engineer{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: -500px;
}

.image-engineer{
    width: 100%;
    height: 101%;
}

.us-engineer{
    font-size: 72px;
    color: #ffffff;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

.us1-engineer{
    width: 601px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.us2-engineer{
    height: 62px;
width: 195px;
background-color: #ffffff;
margin-top: 50px;
margin-left: 200px;
border: none;
}
.us2-engineer a{
    text-decoration: none;
    height: 62px;
width: 195px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding-top: 18px;
}

.us2-engineer:hover{
    background-color: rgb(26, 26, 26);
    color: #ffffff;
    
}
.us2-engineer a:hover{
    color: #ffffff;
    font-weight: 500;
}
