 /*---Header---*/
 .header-project {
    height: 589px;
    width: 1517px;
    background: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/stornowayj2oil/projects-m6LV8Ra6jXcQkzg5.png);
    background-size: 1517px;

}
.header-project .heading-project{
    padding-left: 150px;
padding-top: 400px;
color: #ffffff;
font-size: 104px;
font-family: 'Hammersmith One', sans-serif;
font-weight: 400;
}

/* container1 */

.container1-project{
    display: grid;
    height: 2900px;
    padding-top: 200px;
padding-left: 150px;
}
.con1-project{
    display: flex;
}

.co1{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    width: 207px;
}
.co2{
    font-size: 16px;
    width: 580px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin-left: 180px;
}
.con2-project{
    display: flex;
}
.img1-project{
    height: 432px;
    width: 400px;
}
.img2-project{
    width: 812px;
    height: 432px;
    margin-left: 10px;
}

.con3-project{
    display: flex;
}

.co3{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    width: 277px;
}
.co4{
    font-size: 16px;
    width: 500px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin-left: 180px;
}

.con4-project{
    display: flex;
}

.img3-project{
    height: 432px;
    width: 400px;
}
.img4-project{
    width: 812px;
    height: 432px;
    margin-left: 10px;
}

.con5-project{
    display: flex;
}

.co5{
    font-size: 30px;
    color: #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    width: 310px;
}
.co6{
    font-size: 16px;
    width: 590px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin-left: 180px;
}


.con6-project{
    display: flex;
}

.img5-project{
    height: 432px;
    width: 400px;
}
.img6-project{
    width: 812px;
    height: 432px;
    margin-left: 10px;
}

