 /*---Navbar---*/
 .navbar {
    position: absolute;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-left: 130px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}



.nav-menu{
    margin-left: 403px;
}

.nav-menu li a:hover{
    border-bottom: 2px solid #ffffff;
    font-weight: 500;
}

.navbar a {
    color: #ffffff;
}
.nav-menu{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}